/* Base styles */

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94%;
  margin: 1vw auto;
}

.card {
  position: relative;
  width: calc(32.5% - 0px);
  margin-bottom: 10px;
  transition: transform 0.3s ease; 
}

.card:hover {
  transform: translateY(-5px); 
}

.card-bg {
  width: 100%;
  height: auto;
}

.inner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.union-image {
  width: 50%;
  display: block;
  margin: 0 auto 10px;
}

h3 {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

/* Media query for small devices */
@media (max-width: 600px) {

  .card {
    width: 100%;
  }
}
