.footer {
  width: 90%;
  margin: auto;
}

.headerf {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  width: 100%;
  margin: 1vw 0;
  position: relative; /* To use absolute positioning for social icons */
}

.logof {
  display: flex;
  justify-content: center; /* Center the logo container */
  flex-grow: 1; /* Allow the logo container to grow */
}

.logof img {
  max-height: 50px;
}

.social-iconsf {
  display: flex;
  align-items: center;
  position: absolute; /* Position social icons absolutely */
  right: 0; /* Align them to the right */
}

.iconf {
  font-size: 1.5rem;
  color: white;
}

.iconf .hover-effect {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.iconf .hover-effect:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #b557fa);
}

.social-iconsf .iconf {
  margin-left: 1rem;
}

.rightsf {
  display: none;
}

@media (max-width: 600px) {
  .social-iconsf {
    display: none;
  }
  .rightsf {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 8vw;
    padding: 2vw 0vw;
  }
  .logof a img {
    position: absolute;
    top: 8vw;
    left: 0px;
    padding: 2vw 0vw;
  }
}
